@layer components {
  .Layout {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 80rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.25rem;
    margin: 0 auto;
  }

  .Header {
    border-style: dashed;

    @media not (width >= 640px) {
      order: 1;
      border-top-width: 1px;
    }

    @media (width >= 640px) {
      border-bottom-width: 1px;
    }
  }

  .Main {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.75rem;
    padding: 0.75rem;
  }
}
