@layer components {
  .Info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .NameBlock {
    margin-bottom: 0.5rem;
  }

  .Label {
    font-family: var(--font-mono);
    font-size: 0.625rem;
  }

  .Row {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .Value {
    font-family: var(--font-mono);
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
