@layer components {
  .Root {
    display: flex;
    min-width: 39rem;
    flex-direction: row;
    gap: 1rem;
    padding: 1.25rem;
    border: 1px solid oklch(14.5% 0 0deg);

    &:where([data-theme='dark'] *) {
      border-color: white;
    }
  }

  .Section {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
  }

  .Actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .Stamp {
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
    margin-top: 0.5rem;
  }
}
