@import './styles/reset.css' layer(reset);
@import './styles/base.css' layer(base);

@layer reset, base, components, layout;

:root {
  --bg: white;
  --fg: black;
}

:root:where([data-theme='dark']) {
  --bg: #111;
  --fg: #eee;
}
