@layer components {
  .field {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.25rem;
    width: 100%;
  }

  .label {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: var(--foreground);
  }

  .input {
    box-sizing: border-box;
    padding: 0 0.5rem;
    margin: 0;
    border-radius: 0;
    border: 1px solid var(--border);
    width: 100%;
    height: 2rem;
    font-family: inherit;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    background-color: white;
    color: var(--foreground);
    background-color: var(--raised);

    @media (any-pointer: coarse) {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    &::placeholder {
      color: var(--dim-foreground);
    }

    &:focus {
      outline: 1px solid var(--primary);
      outline-offset: -1px;
    }
  }

  .error {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: oklch(50.5% 0.213 27.518deg);
  }

  .description {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: oklch(43.9% 0 0deg);
  }
}
