@layer components {
  .Field {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.25rem;
    width: 100%;
  }

  .Label {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: var(--foreground);
  }

  .Input {
    font-family: var(--font-mono);
    box-sizing: border-box;
    padding: 0 0.5rem;
    border: 1px solid var(--border);
    width: 100%;
    height: 2rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    background-color: white;
    color: var(--foreground);
    background-color: var(--raised);

    @media (any-pointer: coarse) {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    &::placeholder {
      color: var(--dim-foreground);
    }

    &:focus {
      outline: 1px solid color-mix(in srgb, var(--foreground) 30%, transparent);
      outline-offset: -1px;
    }
  }

  .Error {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: oklch(50.5% 0.213 27.518deg);
  }
}
