@layer components {
  .Main {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .Title {
    text-align: center;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 500;
  }

  .Hint {
    align-self: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .Link {
    font-weight: 700;
  }
}
